- training = next_training_coach

%tr
  %td.text-center= link_to training.date.to_formatted_s(:day_hour), training_path(training)
  %td.text-center
    (
    %span.text-success.strong{'data-toggle' => "tooltip"}= training.available_players.count
    \/
    %span.text-danger.strong= training.non_available_players.count
    \/
    %span.text-warning.strong= training.uncertain_players.count
    )
  %td.text-center= render partial: 'locations/gmaps_link', locals: {location: training.location}
  %td.text-center
    %button.btn.btn-danger.btn-sm{type: :button, 'data-toggle' => "modal", 'data-target' => "#training_modal_#{training.id}"} Annuler
    
    .modal.fade{id: "training_modal_#{training.id}"}
      .modal-dialog
        .modal-content
          .modal-header
            Annuler l'entrainement du
            = training.date.to_formatted_s(:day_hour)
            %button{type: "button", class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
          .modal-body
            = simple_form_for training do |f|
              = f.input :canceled, as: :hidden, :input_html => { value: true }
              = f.input :cancelation_reason, label: 'Raison de l\'annulation'
              %button.btn.btn-primary Annuler l'entrainement et envoyer les mails

