%h1
  Entrainements: 
  = @trainings.map{|t| t.date.to_s(:short_day_hour)).join(',')

%form{action: bulk_availabilities_trainings_url, method: :post}
  %input{type: :hidden, name: :user_email, value: @user.email}
  %input{type: :hidden, name: :user_token, value: @user.authentication_token}
  %table
    %thead
      %tr
        %th Horaire
        %th Lieu
        %th Dispo ?
    %tbody
    - @trainings.each do |training|
      %tr
        %td= training.date.to_s(:day_hour)
        %td
          = render partial: 'locations/gmaps_link', locals: {location: training.location} 
        %td
          %input{type: :hidden, name: 'id_present[]', value: training.id} 
          %input{type: :checkbox, name: 'id[]', value: training.id} 
  %button Valider mes dispos

.green-action{style: 'background: #5cb85c; display: inline-block; padding: 10px; font-size: 16px; margin: 10px;'}
  = link_to 'Dispo !!', bulk_availabilities_trainings_url(id: @trainings.map(&:id), available: 1, user_email: @user.email, user_token: @user.authentication_token), method: :post, style: 'color: white;'

.red-action{style: 'background: #d9534f; display: inline-block; padding: 10px; font-size: 16px; margin: 10px;'}
  = link_to 'Pas dispo :(', bulk_availabilities_trainings_url(id: @trainings.map(&:id), available: 0, user_email: @user.email, user_token: @user.authentication_token), method: :post, style: 'color: white;'
