%h1
  Matchs du weekend : 
  = @weekend

%form{action: bulk_availabilities_matches_url, method: :post}
  %input{type: :hidden, name: :user_email, value: @user.email}
  %input{type: :hidden, name: :user_token, value: @user.authentication_token}
  %table
    %thead
      %tr
        %th Match
        %th Horaire
        %th Lieu
        %th Dispo ?
    %tbody
    - @matches.each do |match|
      %tr
        %td{style: 'text-align: center'}= match.name
        %td= match.format_schedule
        %td
          = render partial: 'locations/gmaps_link', locals: {location: match.location} 
        %td
          %input{type: :hidden, name: 'id_present[]', value: match.id} 
          %input{type: :checkbox, name: 'id[]', value: match.id} 
  %button Valider mes dispos

.green-action{style: 'background: #5cb85c; display: inline-block; padding: 10px; font-size: 16px; margin: 10px;'}
  = link_to 'Dispo pour tous les matchs !!', bulk_availabilities_matches_url(id: @matches.map(&:id), availability: 1, user_email: @user.email, user_token: @user.authentication_token), method: :post, style: 'color: white;'

.red-action{style: 'background: #d9534f; display: inline-block; padding: 10px; font-size: 16px; margin: 10px;'}
  = link_to 'Dispo aucun match :(', bulk_availabilities_matches_url(id: @matches.map(&:id), availability: 0, user_email: @user.email, user_token: @user.authentication_token), method: :post, style: 'color: white;'
