%p#notice= notice
%p
  %strong First name:
  = @user.first_name
%p
  %strong Last name:
  = @user.last_name
%p
  %strong Nickname:
  = @user.nickname
%p
  %strong Email:
  = @user.email
%p
  %strong Phone:
  = @user.phone
%p
  %strong Cotisation:
  = @user.cotisation
%p
  %strong Certificat medical:
  = @user.certificat_medical
- if current_user == @user
  = link_to 'Modifier', edit_user_path(@user)
