.panel.panel-default
  .panel-body
    %h2= "#{@user.first_name} #{@user.last_name}"
    %h3= @user.nickname

    %address
      = mail_to @user.email
      %br
      Tel:
      = @user.phone

.panel.panel-default
  .panel-body
    %ul
      %li Certificat médical : #{t(@user.certificat_medical.to_s)}  
      %li Cotisation payée : #{t(@user.cotisation.to_s)}

- if current_user == @user
  = link_to 'Modifier', edit_user_path(@user)
