%tr
  %td.text-center= link_to match.title, match_path(match)
  %td= match.format_schedule
  %td= render partial: 'locations/gmaps_link', locals: {location: match.location}
  %td.text-center= "#{match.local_score} - #{match.visitor_score}"
  %td.text-center.availability
    - if match.future?
      = render partial: 'availabilities/match_availability', locals: {match: match}
