- match = next_match_coach
- if match
  %tr.text-center
    - if match.exempt?
      %td= match.title
    - else
      %td= link_to "#{match.title}", match_path(match)
    %td= match.format_schedule 
    %td
      = render partial: 'locations/gmaps_link', locals: {location: match.location} unless match.exempt?
- else
  %tr