- if next_match
  %tr.as_link{'data-url' => match_path(next_match)}
    %td.text-center= next_match.local_team.name
    %td.text-center= next_match.visitor_team.name
    %td.text-center= next_match.format_schedule 
    %td.text-center
      = render partial: 'locations/gmaps_link', locals: {location: next_match.location}
    %td.availability
      - if next_match.future?
        = render partial: 'availabilities/match_availability', locals: {match: next_match}

- else
  %tr