- match = next_match
- if match
  %tr.text-center
    %td= link_to "#{match.title}", match_path(match)
    %td= match.format_schedule 
    %td
      = render partial: 'locations/gmaps_link', locals: {location: match.location} unless match.exempt?
    %td.availability
      - if match.future?
        = render partial: 'availabilities/match_availability', locals: {match: match} unless match.exempt?

- else
  %tr