
.row
  .col-md-12
    %h2= @match
  .col-md-6
    %p
      %strong Lieu:
      = render partial: 'locations/gmaps_link', locals: {location: @match.location}
    - unless @match.official_url.blank?
      %p 
        %strong Lien fédé:
        = link_to 'site officiel', @match.official_url

.row
  .col-md-4.col-md-offset-4
    .panel.panel-default
      .panel-heading
        .panel-title= "Joueurs sélectionnés (#{@match.selected_players.count})"
      %ul.list-group
        - @match.selected_players.each do |player|
          - add_class = (player.certificat_medical? && player.cotisation?) ? 'text-success' : 'text-warning'
          %li.list-group-item{class: add_class}
            = link_to player.full_name, player, class: add_class
            - unless player.certificat_medical? && player.cotisation?
              (
              = "pas de cotis " unless player.cotisation?
              - unless player.certificat_medical?
                %span.text-danger pas de certif
              )
            - if current_user.is_coach?
              = link_to 'supprimer', selection_path(@match, remove_player: player.id), method: :patch, class: 'btn btn-xs btn-primary pull-right'
              .clearfix

.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Joueurs dispos
      %ul.list-group
        - @match.available_players.each do |player|
          - add_class = (player.certificat_medical? && player.cotisation?) ? 'text-success' : 'text-warning'
          %li.list-group-item
            %span{class: add_class}
              - if @match.match_day.selected_players.include?(player)
                %del
                  = link_to player.full_name, player, class: add_class
              - else
                = link_to player.full_name, player, class: add_class
              - unless player.certificat_medical? && player.cotisation?
                (
                = "pas de cotis " unless player.cotisation?
                - unless player.certificat_medical?
                  %span.text-danger pas de certif
                )
            - if current_user.is_coach? && !@match.match_day.selected_players.include?(player)
              = link_to 'sélectionner!', selection_path(@match, add_player: player.id), method: :patch, class: 'btn btn-xs btn-primary pull-right'
              .clearfix

  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Joueurs incertains (pas de réponses)
      %ul.list-group
        - @match.uncertain_players.each do |player|
          - add_class = (player.certificat_medical? && player.cotisation?) ? 'text-warning' : 'text-warning'
          %li.list-group-item{class: add_class}
            - if @match.match_day.selected_players.include?(player)
              %del
                = link_to player.full_name, player, class: add_class
            - else
              = link_to player.full_name, player, class: add_class
            - unless player.certificat_medical? && player.cotisation?
              (
              = "pas de cotis " unless player.cotisation?
              - unless player.certificat_medical?
                %span.text-danger pas de certif
              )
            - if current_user.is_coach? && !@match.match_day.selected_players.include?(player)
              = link_to 'sélectionner!', selection_path(@match, add_player: player.id), method: :patch, class: 'btn btn-xs btn-primary pull-right'
              .clearfix

  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Joueurs non dispo
      %ul.list-group
        - @match.non_available_players.each do |player|
          - add_class = (player.certificat_medical? && player.cotisation?) ? 'text-muted' : 'text-warning'
          %li.list-group-item{class: add_class}
            - if @match.match_day.selected_players.include?(player)
              %del
                = link_to player.full_name, player, class: add_class
            - else
              = link_to player.full_name, player, class: add_class
            - unless player.certificat_medical? && player.cotisation?
              (
              = "pas de cotis " unless player.cotisation?
              - unless player.certificat_medical?
                %span.text-danger pas de certif
              )
            - if current_user.is_coach? && !@match.match_day.selected_players.include?(player)
              = link_to 'sélectionner!', selection_path(@match, add_player: player.id), method: :patch, class: 'btn btn-xs btn-primary pull-right'
              .clearfix
