<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @match.championship %>
</p>

<p>
  <strong>Local team:</strong>
  <%= @match.local_team_id %>
</p>

<p>
  <strong>Visitor team:</strong>
  <%= @match.visitor_team_id %>
</p>

<p>
  <strong>Starting time:</strong>
  <%= @match.starting_time %>
</p>

<p>
  <strong>Between day1:</strong>
  <%= @match.between_day1 %>
</p>

<p>
  <strong>Between day2:</strong>
  <%= @match.between_day2 %>
</p>

<p>
  <strong>Local score:</strong>
  <%= @match.local_score %>
</p>

<p>
  <strong>Visitor score:</strong>
  <%= @match.visitor_score %>
</p>

<p>
  <strong>Official url:</strong>
  <%= @match.official_url %>
</p>

<%= link_to 'Back', matches_path %>
