%h1= @training

= simple_form_for @training, url: training_training_presences_path(training: @training), method: :post do |f|
  %table.table.table-condensed.table-hover.table-striped
    %thead
      %tr
        %th Joueur
        %th Présent
        %th Retard annoncé
        %th Retard non annoncé
        %th Absent non annoncé
    
    %tbody
      - @available_players.each do |available_player|
        - training_presence = TrainingPresence.find_or_create_by user: available_player, training: @training
        - training_presence.status ||= 1
        %tr
          %td= available_player.full_name
          - (1..4).each do |i|
            %td.text-center
              - options = {type: :radio, name: "users[#{available_player.id}]", value: i}
              - options[:checked] = 'checked' if i == training_presence.status 
              %input{options}
  = f.submit class: 'btn btn-primary pull-right'
  %br
  %br
  %br
  