!!!
%html
  %head
    %title Martigua
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse{role: :navigation}
      .container
        .navbar-header
          .navbar-brand= link_to t('.martigua_dashboard'), root_url
        .navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to t('.users'), users_path
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              = link_to current_user.full_name, user_path(current_user)
    = yield
